django-filter
Django==2.2.6
freeze==1.0.10
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
gunicorn
django-heroku
flake8
black==19.3b0
coverage
coveralls
PyYAML
sodapy
djangorestframework
django-phonenumber-field
phonenumbers
django-select2==7.1.1
python-dateutil==2.8.0
django-widget-tweaks==1.4.5