html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.all-app-root {
    width: 100%;
}

.left-pane {
    height: 100vh !important;
    background-color: whitesmoke;
}

.right-pane {
    background-color: whitesmoke;
    height: 100vh;
}

.blur-bg {
    height: 100%;
    background-color: black;
    opacity: 0.38;
    filter: blur(2px);
    margin-left: -15px;
    margin-right: -15px;
}

.right-pane-container {
    position: absolute;
    top: 7.5%;
    margin: 5% 7.5%;
    width: 80%;
}

.right-pane .top-header {
    height: 40%;
    max-height: 45%;
}

.no-app-placeholder {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*overriding bootstrap*/
.list-group-item {
    width: 85% !important;
    margin: 5% 7.5% 0% 7.5% !important;
    border-radius: 10px;
}

.list-group-item:last-child {
    margin-bottom: 5% !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid #dddddd;
  text-align: center;
  padding: 8px;
}

mark {
    background-color: red;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.btn {
    float: right;
}
/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}