html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.all-app-root {
    width: 100%;
}

.left-pane {
    height: 100vh !important;
    background-color: whitesmoke;
}

.right-pane {
    background-color: whitesmoke;
    height: 100vh;
}

.blur-bg {
    height: 100%;
    background-color: black;
    opacity: 0.38;
    filter: blur(2px);
    margin-left: -15px;
    margin-right: -15px;
}

.right-pane-container {
    position: absolute;
    top: 7.5%;
    margin: 5% 7.5%;
    width: 80%;
}

.right-pane .top-header {
    height: 40%;
    max-height: 45%;
}

.no-app-placeholder {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*overriding bootstrap*/
.list-group-item {
    width: 85% !important;
    margin: 5% 7.5% 0% 7.5% !important;
    border-radius: 10px;
}

.list-group-item:last-child {
    margin-bottom: 5% !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid #dddddd;
  text-align: center;
  padding: 8px;
}

mark {
    background-color: red;
}

.btn {
    float: right;
}

.no-school-placeholder {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.1);
    list-style-position: inside;
    display: block;
    font-size: 1em;
    margin: 5px 0 3px;
    padding: 4px 5px;
    text-align: center;
    border-radius: 3px;
}

.radio{
    list-style-type: none;
    white-space:nowrap;
    display: inline-block;
}