{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
{% if user_type and user_type == constant_ut_adminStaff %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin_theme.min.css' %}">
{% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_theme.min.css' %}">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'logIn/css/login.css' %}">

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 left-pane">
        {% if user_type == constant_ut_student %}
            <form action="{% url 'logIn:login_user' constant_ut_student %}" method="post" class="form-signin" style="padding-top: 100px;">
                {% csrf_token %}
        {% elif user_type == constant_ut_adminStaff %}
            <form action="{% url 'logIn:login_user' constant_ut_adminStaff %}" method="post" class="form-signin" style="padding-top: 100px;">
                {% csrf_token %}
        {% endif %}
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Hello again...</h1>
                    <h4 class="h5 mb-3 font-weight-light">to continue, login with your</h4>
                </div>
                {% for field in form %}
                    <div class="form-label-group">
                        {{ field }}
                        <label for={{ field.id_for_label }}>{{ field.label }}</label>
                    </div>
                {% endfor %}
                {% if verif_error %}
                    <p class="errorlist" style="color: red">Supervisor verification is required</p>
                {% endif %}
                {% if valid_error %}
                    <p class="errorlist" style="color: red">Account has not been verified</p>
                {% endif %}
                {% if login_error %}
                    <p class="errorlist" style="color: red">Invalid credentials</p>
                {% endif %}
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login"/>
            </form>
        </div>
        <div class="col-md-4 right-pane overlay">
{#          <div class="blur-bg"></div> #}
            <div class="text-center mb-4 right-pane-container">
                <h3 class="font-weight-normal mb-4">New here?</h3>
                {% if user_type == constant_ut_student %}
                    <span class="font-weight-light" style="text-align: left;margin: 20px 10px;">If you're a high school kid (or a concerned guardian) starting your application process for the upcoming High School admission window and do not want the hassle of a big-yellow-book ...start with OneApply.</span>
                    <span class="font-weight-light" style="text-align: left;margin: 20px 10px;">OneApply is a one stop application portal which provides you with cool features like - sorting your high schools by boroughs, by their programs, their locations, adding them to your favorites, one-click apply and more.</span>
                {% elif user_type == constant_ut_adminStaff  %}
                    <span class="font-weight-light" style="text-align: left;margin: 20px 10px;">If you're in charge (or an employee of) of your High School's admission department and want to avoid assessing the 1000s of applications manually... start with OneApply.</span>
                    <span class="font-weight-light" style="text-align: left;margin: 20px 10px;">OneApply is a one stop application portal which provides you with cool features like - a central access location for all the electronically received applications, sorting through the applications based on various programs, student's current school, their grades, accepting and rejecting applications, one-click notifications to students and more.</span>
                {% endif %}
                <br>
                <a href="{% url 'register:register_user' user_type %}"><button class="btn btn-outline-light mt-3">Create account</button></a>
{#                <button class="btn btn-outline-light mt-3" onclick="location.href={% url 'register:register_user' user_type %}">Your account</button>#}
                <a href="{% url 'landingpage:index' %}"><button class="btn btn-outline-light mt-3">Back to Home</button></a>
            </div>
        </div>
    </div>
</div>

</body>