{% include 'register/base_emails.html' %}
{% block data %}
<div class="card"
         style="margin-top: 3em; padding: 2em; width: 100%; background-color: #F9F7F3">
        <div class="card-header" style="background-color: #CDE6EC; width: fit-content; margin: auto;"><b>
            Your account has been verified. Please login below.
        </b>
        </div>
        <div class="card-body" style="margin: 0 auto; padding: 1em;">
            <div style="width:100%;">
                <a href="{% url 'logIn:login_user' user_type %}"
                   class="btn btn-primary">Login</a>
            </div>
        </div>
    </div>
{% endblock %}