{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'register/css/register.css' %}">

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 left-pane">
            <div class="blur-bg"></div>
            <div class="text-center mb-4 left-pane-container">
                <h1 class="h3 font-weight-normal" style="margin-bottom: 20px;">Do we know you?</h1>
                <h4 class="h5 font-weight-light" style="text-align: justify;margin: 40px 10px 20px 10px;">If you're a high school kid (or a concerned guardian) starting your application process for the upcoming High School admission window and do not want the hassle of a big-yellow-book ...start with OneApply.</h4>
                <h4 class="h5 font-weight-light" style="text-align: justify;margin: 40px 10px 40px 10px;">OneApply is a one stop application portal which provides you with cool features like - sorting your high schools by boroughs, by their programs, their locations, adding them to the cart, one-click apply and more.</h4>
                <button class="btn btn-outline-light mt-3" onclick="location.href={% url 'logIn:login_user' %}">Your account</button>
            </div>
        </div>
        <div class="col-md-8 right-pane">
            <form action="{% url 'register:register_user' %}" method="post" class="form-signup" style="padding-top: 100px;">
                {% csrf_token %}
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Let's get you started...</h1>
                    <h4 class="h5 mb-3 font-weight-light">to continue, we'll require your</h4>
                </div>
{#                 first name and last name blocks#}
                <div class="form-row">
                    <div class="form-label-group col-md-6">
                        {{ form.first_name }}
                        <label for={{ form.first_name.id_for_label }}>{{ form.first_name.label }}</label>
                        {% if form.first_name.help_text %}
                        <p class="help">{{ form.first_name.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    <div class="form-label-group col-md-6">
                        {{ form.last_name }}
                        <label for={{ form.last_name.id_for_label }}>{{ form.last_name.label }}</label>
                        {% if form.last_name.help_text %}
                        <p class="help">{{ form.last_name.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
{#                 email and username blocks#}
                <div class="form-row">
                    <div class="form-label-group col-md-6">
                        {{ form.email_address.errors }}
                        {{ form.email_address }}
                        <label for={{ form.email_address.id_for_label }}>{{ form.email_address.label }}</label>
                        {% if form.email_address.help_text %}
                        <p class="help">{{ form.email_address.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    <div class="form-label-group col-md-6">
                        {{ form.username }}
                        <label for={{ form.username.id_for_label }}>{{ form.username.label }}</label>
                        {% if form.username.help_text %}
                        <p class="help">{{ form.username.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
{#                 school and borough blocks#}
                <div class="form-row">
                    <div class="form-label-group col-md-6">
                        {{ form.current_school }}
                        <label for={{ form.current_school.id_for_label }}>{{ form.current_school.label }}</label>
                        {% if form.current_school.help_text %}
                        <p class="help">{{ form.current_school.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    <div class="col-auto my-1 col-md-6">
                        {{ form.borough }}
                        <label class="mr-sm-2 sr-only" for={{ form.borough.id_for_label }}>{{ form.borough.label }}</label>
                        {% if form.borough.help_text %}
                        <p class="help">{{ form.borough.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
{#                 input and confirm password blocks#}
                <div class="form-row">
                    <div class="form-label-group col-md-6">
                        {{ form.input_password }}
                        <label for={{ form.input_password.id_for_label }}>{{ form.input_password.label }}</label>
                        {% if form.input_password.errors %}
                        {{ form.input_password.errors }}
                        {% endif %}
                    </div>
                    <div class="form-label-group col-md-6">
                        {{ form.confirm_password }}
                        <label for={{ form.confirm_password.id_for_label }}>{{ form.confirm_password.label }}</label>
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password.errors }}
                        {% endif %}
                    </div>
                </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Register"/>
            </form>
        </div>

    </div>
</div>

</body>