{% extends "dashboard/index.html" %}
{% load static %}
{% block content %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>


    {% if exception %}
        <p>{{ exception }}</p>
    {% else %}
        {% if applications %}
            <div class="dropdown" style="text-align: right; line-height: 2.5"><b>Filter
                by
                Program:</b>
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"
                   style="float: right; margin-right: 2em; margin-left: 1em">
                    {{ current_program }}
                </a>

                {% if programs %}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        {% for program in programs %}
                            <a class="dropdown-item"
                               href="{% url "dashboard:admissions:index" %}?p={{ program }}">{{ program }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% for app in applications %}
                {% if app.application_status == 2 %}
                 <div class="card"
                     style="margin-top: 3em; margin-left: 17em; margin-right: 17em; background-color: #F9F7F3">
                    <div class="card-header" style="background-color: #CDE6EC"><b>
                        {{ app.first_name }} {{ app.last_name }}
                        <span style="float: right">{{ app.application_number }}/Pending
                    </span>
                    </b>
                    </div>
                    <div class="card-body">
                        <div class="card-text" style="align-items: center;">
                            <span>
                                Program: {{ app.program }}
                            </span>
                            <span style="float: right">
                                <a href="{% url 'dashboard:admissions:detail' app.id %}"
                                   class="btn btn-primary"
                                >View Application</a>
                            </span>
                            <footer class="blockquote-footer"
                                    style="margin-top:1em;">Date of Submission:
                                {{ app.submitted_date }}
                            </footer>
                        </div>
                    </div>
                 </div>
                {% elif app.application_status == 1 %}
                 <div class="card"
                     style="margin-top: 3em; margin-left: 17em; margin-right: 17em; background-color: #F9F7F3">
                    <div class="card-header" style="background-color: #b3e6b3"><b>
                        {{ app.first_name }} {{ app.last_name }}
                        <span style="float: right">{{ app.application_number }}/Accepted
                    </span>
                    </b>
                    </div>
                    <div class="card-body">
                        <div class="card-text" style="align-items: center;">
                            <span>
                                Program: {{ app.program }}
                            </span>
                            <span style="float: right">
                                <a href="{% url 'dashboard:admissions:detail' app.id %}"
                                   class="btn btn-primary"
                                >View Application</a>
                            </span>
                            <footer class="blockquote-footer"
                                    style="margin-top:1em;">Date of Submission:
                                {{ app.submitted_date }}
                            </footer>
                        </div>
                    </div>
                 </div>
                {% elif app.application_status == 0 %}
                 <div class="card"
                     style="margin-top: 3em; margin-left: 17em; margin-right: 17em; background-color: #F9F7F3">
                    <div class="card-header" style="background-color: #ffcccc"><b>
                        {{ app.first_name }} {{ app.last_name }}
                        <span style="float: right">{{ app.application_number }}/Rejected
                    </span>
                    </b>
                    </div>
                    <div class="card-body">
                        <div class="card-text" style="align-items: center;">
                            <span>
                                Program: {{ app.program }}
                            </span>
                            <span style="float: right">
                                <a href="{% url 'dashboard:admissions:detail' app.id %}"
                                   class="btn btn-primary"
                                >View Application</a>
                            </span>
                            <footer class="blockquote-footer"
                                    style="margin-top:1em;">Date of Submission:
                                {{ app.submitted_date }}
                            </footer>
                        </div>
                    </div>
                 </div>
                {% endif %}
            {% endfor %}

        {% else %}
            <p>No applications are available.</p>
        {% endif %}
    {% endif %}
{% endblock %}