{% block empty_list %}
        <div class="no-school-placeholder">
            <div style="font-size: 18px;">
                    <span class="mb-3" style="font-size: 48px">
                        <i class="fa fa-unlink fa-5x"></i>
                    </span>
            </div>
            <p class="mt-5" style="font-size: 18px;">
                Oops! We couldn't find what you're looking for...
            </p>
            <small class="pt-1">Contact oneapply_teamthree@gmail.com if the problem persists.</small>  {# noqa: E501 #}
            <a href="{% url 'landingpage:index' %}">
                <button class="btn btn-lg btn-primary mt-4 mb-4">Home
                </button>
            </a>
        </div>
{% endblock %}