
{% load static %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/student_theme.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/recommendation.css' %}">
<!-- Load bootstrap css, jquery, bootstrap js -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/fc24e2383c.js" crossorigin="anonymous"></script>
<!-- Custom styles for this template -->
<link href="{% static 'dashboard/dashboard.css' %}" rel="stylesheet">
<title> OneApply </title>

<div class="nav-container">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'landingpage:index' %}">OneApply</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>

<div style="margin-left:20%;height: 90%; margin-bottom: 5%; width:50%; margin-top: 2%">
    {% if empty_list %}
                    {% block empty_list %}
                        {% include 'recommendation/broken.html' %}
                    {% endblock %}
    {% elif teacher_recommendation %}
    <h3>Teacher Recommendation for <u>{{teacher_recommendation.user.first_name}} {{teacher_recommendation.user.last_name}}</u></h3>
    <h4>Name of Reviewer: {{teacher_recommendation.first_name}} {{teacher_recommendation.last_name}}</h4>
    <form action="{% url 'recommendation_rating' teacher_pk %}" method="post" class="form-signup" style="padding-top: 10px;">
        {% csrf_token %}
        <div class="rounded bg-secondary" style="height:35px;margin-bottom:10px;">
            <h5 class="p-2">I. Knowledge of Applicant</h5>
        </div>
        <div class="form-row">
            <div class="form-label-group">
                <span>Approximately how long have you known the applicant? (In years)</span> {{form.known_length}}
                {% if form.known_length.errors %}
                    {{ form.known_length.errors }}
                {% endif %}
                <br>
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-group">
                <span>How well do you feel like you know the applicant?</span><br>
                {% for radio in form.known_strength %}
                    <span class="radio">{{ radio.tag }}
                    <label for="{{ radio.id_for_label }}">
                        {{ radio.choice_label }}
                     </label>
                    </span>
                <br>
                {% endfor %}
                <br>
            </div>

        </div>
        <div class="form-row">
            <div class="form-label-group">
                <span>What was the nature of your contact with the applicant?</span><br>
                {% for radio in form.known_location %}
                    <span class="radio">{{ radio.tag }}
                    <label for="{{ radio.id_for_label }}">
                        {{ radio.choice_label }}
                     </label>
                    </span>
                <br>
                {% endfor %}
                <br>
            </div>
        </div>
        <div class="rounded bg-secondary" style="height:35px;margin-bottom:10px;margin-top:15px;">
            <h5 class="p-2">II. Relative Rating of the Applicant</h5>
        </div>
        <div class="form-row">
            <p>Please rate the applicant in the areas indicated below by comparing him or her to a reference group of other students. </p>
        </div>
        <div class="form-row">
            <table>
                <tr>
                    <th></th>
                    <th>Top 1-2%</th>
                    <th>Top 5%</th>
                    <th>Top 10%</th>
                    <th>Top 25%</th>
                    <th>2nd 25%</th>
                    <th>3rd 25%</th>
                    <th>Last 25%</th>
                    <th>Unable To Rate</th>
                </tr>
                <tr>
                    <th> Ability to grasp new concepts </th>
                    {% for radio in form.rating_concepts %}
                        <th>{{ radio.tag }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th> Originality, intellectual creativity </th>
                    {% for radio in form.rating_creativity %}
                        <th>{{ radio.tag }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th> Mathematical and logical thought </th>
                    {% for radio in form.rating_mathematical%}
                        <th>{{ radio.tag }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th> Written expression </th>
                    {% for radio in form.rating_written %}
                        <th>{{ radio.tag }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th> Oral expression </th>
                    {% for radio in form.rating_oral %}
                        <th>{{ radio.tag }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th> Perserverance toward goals </th>
                    {% for radio in form.rating_goals %}
                        <th>{{ radio.tag }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th> Ability to get along with others </th>
                    {% for radio in form.rating_socialization %}
                        <th>{{ radio.tag }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th> Ability to analyze problems and formulate solutions </th>
                    {% for radio in form.rating_analyzing %}
                        <th>{{ radio.tag }}</th>
                    {% endfor %}
                </tr>
            </table>
        </div>
         <div class="rounded bg-secondary" style="height:35px;margin-bottom:10px;margin-top:15px;">
            <h5 class="p-2">III. Written Evaluation</h5>
        </div>
        <div class="form-row">
            <p>Please include in your comments examples of the applicant's character and potential for success in high school.  </p>
            {{form.rating_comment}}
        </div>
        <div class="form-row" style="margin-top:50px;">
                            <div class="form-label-group col-md-6">
                            </div>
                            <div class="form-label-group col-md-6">
                                <input class="btn btn-primary" type="submit" value="Submit" name="submit"/>
                            </div>
                        </div>
    </form>
    {% elif submitted %}
        <div class="no-app-placeholder">
            <div style="font-size: 18px;">
                <span class="mb-3" style="font-size: 42px">
                    <i class="fas fa-check fa-5x"></i>
                </span>
            </div>
                <p class="mt-5" style="font-size: 18px;">
                    Thank you for submitting the recommendation!
                </p>
             <a href="{% url 'landingpage:index' %}">
                <button class="btn btn-lg btn-primary mt-4 mb-4">Home
                </button>
            </a>
        </div>
    {% elif completed %}
        <div class="no-app-placeholder">
            <div style="font-size: 18px;">
                <span class="mb-3" style="font-size: 42px">
                    <i class="far fa-check-square fa-5x"></i>
                </span>
            </div>
                <p class="mt-5" style="font-size: 18px;">
                    The recommendation has been completed already!
                </p>
             <a href="{% url 'landingpage:index' %}">
                <button class="btn btn-lg btn-primary mt-4 mb-4">Home
                </button>
            </a>
        </div>
    {% endif %}
</div>