<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

{% block recommend_list %}

<div style="height: 90%; overflow-y: scroll; margin-bottom: 5%; ">
    <div class="list-group" style="margin-top:10px;">
        {% if recommendations %}
            <table>
            <tr>
                <th>First Name</th>
                <th> Last Name</th>
                <th> Email Address</th>
            </tr>
            {% for rec in recommendations %}
                <tr>
                    <th> {{ rec.first_name }} </th>
                    <th> {{ rec.last_name }} </th>
                    <th> {{ rec.email_address }} </th>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <div class="d-flex w-100 justify-content-between mb-2">
                <h4 class="mb-1" style="width: 75%">No Recommendations Added.</h4>
            </div>
        {% endif %}
    </div>
    <div>
        <button> Add Teacher</button>
    </div>
</div>

{% endblock %}