{% extends 'dashboard/index.html' %}
{% block recommend_form %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/recommendation.css' %}">

<div style="margin-left:20%;height: 90%; margin-bottom: 5%; width:50%;">
    <h2>Teacher/Mentor Recommendations</h2>
    <form action="{% url 'dashboard:recommendation:new_recommendation' %}" method="post" class="form-signup" style="padding-top: 10px;">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-label-group col-md-6">
                {{ form.first_name }}
                <label for={{ form.first_name.id_for_label }}>{{ form.first_name.label }}</label>
                {% if form.first_name.help_text %}
                    <p class="help">{{ form.first_name.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="form-label-group col-md-6">
                {{ form.last_name }}
                <label for={{ form.last_name.id_for_label }}>{{ form.last_name.label }}</label>
                {% if form.last_name.help_text %}
                    <p class="help">{{ form.last_name.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-group col-md-6">
                {{ form.email_address }}
                <label for={{ form.email_address.id_for_label }}>{{ form.email_address.label }}</label>
                {% if form.email_address.errors %}
                    {{ form.email_address.errors }}
                {% endif %}
            </div>
    </form>
</div>
{% endblock %}