html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f5f5f5;
}

.all-school-root {
    width: 100%;
}

.left-pane {
    height: 100vh !important;
    /*background-color: #95a5a6;*/
    background-color: whitesmoke;
    /*overflow-y: scroll;*/
    /*overflow-x: hidden;*/
}

.pagination-div{
    margin: 0 7.5%;
}

.right-pane {
    background-color: whitesmoke;
    height: 100vh;
}

.blur-bg {
    height: 100%;
    background-color: black;
    opacity: 0.38;
    filter: blur(2px);
    margin-left: -15px;
    margin-right: -15px;
}

.right-pane-container {
    position: absolute;
    top: 4%;
    margin: 5% 7.5%;
    width: 80%;
}

.right-pane .top-header {
    height: 40%;
    max-height: 45%;
    /*background: url("../../logIn/images/bg_1.jpg");*/
    /*background-size: cover;*/
}

.no-school-placeholder {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.high-school-search{
    margin: 2% 2.5% 0 7.5%;
    width: 75%;
}

.high-school-search .search-div{
    display: flex !important;
    flex-direction: column !important;
    position: relative !important;
}

.high-school-search .search-div .search-input{
    width: 100%;
    height: 36px;
    padding: 15px 20px;
    color: slategray;
    border: 2px solid #e4e4e4 !important;
    border-radius: 12px;
}

.high-school-search .search-div .search-input:focus{
    outline: none !important;
    border: 2px solid slategray !important;
}

.high-school-search .search-div .search-btn{
    color: slategray;
    position: absolute;
    left: 95%;
    top: 15%;
    cursor: pointer;
}

.high-school-filters{
    margin: 2% 5% 0 2.5%;
    padding: 2px 10px;
}
.high-school-filters .filter-btn{
    color: slategray;
    font-size: 20px;
    cursor: pointer;
}
.high-school-filter-div{
    display: none;
    margin: 2% 0 0 0;
}
/*overriding bootstrap*/
.list-group-item {
    width: 85% !important;
    margin: 5% 7.5% 0 7.5% !important;
    border-radius: 10px;
}

.list-group-item:last-child {
    margin-bottom: 5% !important;
}