{% extends 'dashboard/index.html' %}
{% block all_high_schools %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>OneApply</title>
        {% load static %}
        {% load hs_filters %}
        <link rel="stylesheet" type="text/css"
              href="{% static 'high_schools/css/high_school.css' %}">

    </head>
    <body>
    <div class="all-school-root">
        <div class="container-fluid">
            <div class="row">
                {% if empty_list %}
                    {% block empty_list %}
                        {% include 'high_school/broken.html' %}
                    {% endblock %}
                {% elif unauth %}
                    {% block unauth %}
                        {% include 'high_school/broken.html' %}
                    {% endblock %}
                {% elif high_schools %}
                    <div class="col-md-6 left-pane">
                        {% block school_list %}
                            {% include 'high_school/school_list.html' %}
                        {% endblock %}
                    </div>
                    <div class="col-md-6 right-pane">
                        {% block school_overview %}
                            {% include 'high_school/school_overview.html' %}
                        {% endblock %}
                    </div>
                {% endif %}
                <div>
                    {% block save_highschool %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="toast" style="position: absolute; top: 15%; right: 43%;">
            <div class="toast-header">
                <strong class="mr-auto text-primary">Info</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;
                </button>
            </div>
            <div class="toast-body">
                <span></span>
            </div>
        </div>
    </div>
    </body>
    <script>
        let should_reset_filters = true;
        {# for restricting page numbers in pagination #}

        function getPageList(totalPages, page, maxLength) {
            if (maxLength < 5) throw "maxLength must be at least 5";

            function range(start, end) {
                return Array.from(Array(end - start + 1), (_, i) => i + start);
            }

            let sideWidth = maxLength < 9 ? 1 : 2;
            let leftWidth = (maxLength - sideWidth * 2 - 3) >> 1;
            let rightWidth = (maxLength - sideWidth * 2 - 2) >> 1;
            if (totalPages <= maxLength) {
                // no breaks in list
                return range(1, totalPages);
            }
            if (page <= maxLength - sideWidth - 1 - rightWidth) {
                // no break on left of page
                return range(1, maxLength - sideWidth - 1)
                    .concat([0])
                    .concat(range(totalPages - sideWidth + 1, totalPages));
            }
            if (page >= totalPages - sideWidth - 1 - rightWidth) {
                // no break on right of page
                return range(1, sideWidth)
                    .concat([0])
                    .concat(range(totalPages - sideWidth - 1 - rightWidth - leftWidth, totalPages));
            }
            // Breaks on both sides
            return range(1, sideWidth)
                .concat([0])
                .concat(range(page - leftWidth, page + rightWidth))
                .concat([0])
                .concat(range(totalPages - sideWidth + 1, totalPages));
        }

        $(function () {
            let totalPages = {{ paginator.num_pages }};
            let paginationSize = 7;
            let currentPage;

            function showPage(whichPage) {
                if (whichPage < 1 || whichPage > totalPages) return false;
                currentPage = whichPage;
                $(".pagination li").slice(1, -1).remove();
                getPageList(totalPages, currentPage, paginationSize).forEach(item => {
                    $("<li>").addClass("page-item")
                        .addClass(item ? "" : "disabled")
                        .toggleClass("active", item === currentPage).append(
                        $("<a>").addClass("page-link").attr({
                            href: item ? "{{ request.get_full_path|get_querystring:"page"|escapejs }}=" + item : "javascript.void(0)"
                        }).text(item || "...")
                    ).insertBefore("#next-page");
                });
                // Disable prev/next when at first/last page:
                $("#previous-page").toggleClass("disabled", currentPage === 1);
                $("#next-page").toggleClass("disabled", currentPage === totalPages);
                return true;
            }

            $(".pagination").append(
                $("<li>").addClass("page-item").attr({id: "previous-page"}).append(
                    $("<a>").addClass("page-link").attr({
                        href: {% if page_obj.has_previous %}
                            "{{ request.get_full_path|get_querystring:"page"|escapejs }}={{ page_obj.previous_page_number }}"
                            {% else %}"javascript.void(0)"{% endif %}
                    }).text("Prev")
                ),
                $("<li>").addClass("page-item").attr({id: "next-page"}).append(
                    $("<a>").addClass("page-link").attr({
                        href: {% if page_obj.has_next %}
                            "{{ request.get_full_path|get_querystring:"page"|escapejs }}={{ page_obj.next_page_number }}"
                            {% else %}"javascript.void(0)"{% endif %}

                    }).text("Next")
                )
            );
            showPage({% if request.GET.page %} {{ request.GET.page }} {% else %} 1 {% endif %});
            // Use event delegation, as these items are recreated later
            $(document).on("click", ".pagination li.current-page:not(.active)", function () {
                return showPage(+$(this).text());
            });
            $("#next-page").on("click", function () {
                return showPage(currentPage + 1);
            });

            $("#previous-page").on("click", function () {
                return showPage(currentPage - 1);
            });
        });
        {#to toggle fav high school for user#}
        $(".school-fav-btn").click(function (e) {
            e.preventDefault();
            let school_fav_btn = $(this);
            let school_dbn = $(this).attr("dbn_value");
            let is_fav = parseInt($(this).attr("is_fav"));
            is_fav = is_fav === 1 ? 0 : 1;
            school_fav_btn.attr("is_fav", is_fav);
            let url = "{% url 'dashboard:high_school:toggle_fav' 'school_dbn' '0000' %}";
            url = url.replace('school_dbn', school_dbn);
            url = url.replace('0000', "" + is_fav);
            let is_fav_on = "{{ request.GET.is_fav_on }}";
            $.ajax({
                url: url,
                type: "POST",
                success: function (data) {
                    console.log("success " + data);
                    let i_tag = school_fav_btn.find("i");
                    i_tag.removeClass("fa-heart-o");
                    i_tag.removeClass("fa-heart");
                    i_tag.addClass(is_fav ? "fa-heart" : "fa-heart-o");
                    if (is_fav_on) {
                        show_toast("The page will reload in 5 seconds", true);
                        setTimeout(function () {
                            window.location.reload();
                        }, 5000);
                    }
                },
                error: function (data) {
                    console.log("error")
                }
            });
        });
        {# school overview program card functions #}
        let toggle_program_icon = function (show_plus) {
            let i_tag = $("#program_toggle_icon");
            let select_div = $(".program-select-div");
            let prg_header = $("#program-choose-header");
            if (show_plus) {
                i_tag.removeClass("fa-minus-circle");
                i_tag.addClass("fa-plus-circle");
                prg_header.text("Programs available ({{ selected_school_programs.count }})");
                select_div.hide()
            } else {
                i_tag.removeClass("fa-plus-circle");
                i_tag.addClass("fa-minus-circle");
                prg_header.text("Choose program");
                $("#program-select").prop("selectedIndex", 0).trigger("change");
                select_div.show()
            }
        };
        $('.collapse').on('hidden.bs.collapse', function () {
            toggle_program_icon(true)
        });
        $('.collapse').on('show.bs.collapse', function () {
            toggle_program_icon(false)
        });
        $('#program-select').on('change', function () {
            let selected_option = $(this).val();
            $(".program-desc-div").hide();
            $("#" + selected_option + "_div").show();
        });
        let show_toast = function (message) {
            $(".toast-body span").text(message);
            $('.toast').css({'opacity': 1});
            setTimeout(function () {
                $('.toast').css({'opacity': 0});
            }, 3000)
        };
        {#         for school list filter#}
        let toggle_filter_div = function (show) {
            let high_school_div = $(".high-school-filter-div");
            if (show) {
                high_school_div.addClass("active");
                high_school_div.show();
                $(".filter-info-div").hide();
                $(".filter-action-div").show();
            } else {
                high_school_div.removeClass("active");
                high_school_div.hide();
                $(".filter-action-div").hide();
                $(".filter-info-div").show();
            }
        };
        $(".filter-info-div").click(function (e) {
            toggle_filter_div(true);
        });
        let reset_filters = function () {
            if (should_reset_filters) {
                $(".high-school-filter-div .form-group input[type=checkbox]:checked").each(function () {
                    $(this).prop("checked", false);
                });
                {% for boro_filter in search_filter_params.borough %}
                    $(".form-group #{{ boro_filter }}").prop("checked", true);
                {% endfor %}
            }
        };
        $(".filter-action").click(function () {
            let elem_class = $(this).attr("class");
            if (elem_class.indexOf("apply-filters") !== -1) {
                should_reset_filters = false;
                $("#search_filter_form").submit();
            } else {
                reset_filters();
            }
            toggle_filter_div(false);
        });
        $(function () {
            let search_form_submit = document.search_filter_form.submit;
            document.search_filter_form.submit = function () {
                reset_filters();
                search_form_submit.apply(document.search_filter_form);
                return false;
            };
        });
        $('#search_filter_form').keydown(function (e) {
            let key = e.which;
            if (key === 13) {
                e.preventDefault();
                $('#search_filter_form').submit();
                return false;
            }
            return true;
        });
        $(".high-school-filter-div .form-group input[type=checkbox]").click(function () {
            let _id = $(this).attr("id");
            let checked_state = $(this).prop("checked");
            if (_id === "loc_all") {
                $(".high-school-filter-div .form-group input[type=checkbox]:checked").each(function () {
                    $(this).prop("checked", false);
                });
                $(this).prop("checked", true);
            } else {
                if (checked_state) {
                    $(".all_boroughs input[type=checkbox]").prop("checked", false);
                    $(this).prop("checked", true)
                } else {
                    let checked_count = $(".individual_boroughs input[type=checkbox]:checked").length;
                    if (checked_count === 0) {
                        $(".all_boroughs input[type=checkbox]").prop("checked", true);
                    }
                }
            }
        });
    </script>
    </html>

{% endblock %}