{% block school_overview %}
    {% load hs_filters %}
    {% if selected_school %}
        <div class="top-header bg-secondary">
            <div class="right-pane-container">
                <h5 class="mb-3" style="font-size: 28px;">{{ selected_school.school_name }}</h5>
                <h5 class="mb-2">{{ selected_school.neighborhood }}</h5>
                <h6 class="mb-3">{{ selected_school.location|split_string_single:"($index0" }}</h6>
                <h6 class="mb-2">{{ selected_school.total_students }} students</h6>
                {% if selected_school.graduation_rate != 'N/A' %}
                    <h6 class="mb-3">
                        <span style="font-size: 14px;">
                            <i class="fa fa-graduation-cap mr-2"></i>
                        </span>
                        {% widthratio selected_school.graduation_rate 1 100 %} %</h6>
                {% else %}
                    <h6 class="mb-3">Graduation rate unavailable</h6>
                {% endif %}
                <div class="d-flex w-100 justify-content-between" style="font-size: 16px;">
                    <div>
                        <a class="pr-2" href="https://www.{{ selected_school.website }}"
                           target="_blank"
                           style="font-size: 16px; border-right: 2px solid black">Website</a>
                        <a class="pl-2"
                           href="https://www.google.com/maps/search/?api=1&query={{ selected_school.school_name|urlencode }}%20{{ selected_school.neighborhood|urlencode }}"
                           target="_blank">Map</a>
                    </div>
                    <span style="width: 40%; text-align: right;
                    vertical-align: middle; font-size: 15px;">
                                    <i class="fa fa-clock-o mr-2"></i>
                         {{ selected_school.start_time }} - {{ selected_school.end_time }}</span>
                </div>
            </div>
        </div>
        <div class="content-div justify-content-between">
            <div style="margin: 5% 7.5%">
                <div>
                    {{ selected_school.overview_paragraph }}
                </div>
                <div class="card text-white bg-primary program-div">
                    <div class="card-header justify-content-between">
                        {% if selected_school_programs %}
                            <div style="display: flex; flex-direction: column;">
                                <span class="mr-5" id="program-choose-header">
                                    Programs available ({{ selected_school_programs.count }})
                                </span>
                                <div class="mt-2 program-select-div" style="display: none;">
                                    <label>
                                        <select class="form-control" id="program-select">
                                            {% for program in selected_school_programs %}
                                                <option value="{{ program.code }}">{{ program.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>

                            </div>
                            <a class="" style="text-decoration: none !important;"
                               data-toggle="collapse"
                               href="#program_collapse" role="button"
                               aria-expanded="false"
                               aria-controls="program_collapse">
                            <span class="ml-5 text-light" style="font-size: 18px;">
                                <i id="program_toggle_icon" class="fa fa-plus-circle">
                                </i>
                            </span>
                            </a>
                        {% else %}
                            <span class="mr-5">No programs available</span>
                        {% endif %}
                    </div>
                    <div class="collapse" id="program_collapse">
                        <div class="card-body card-text">
                            {% for program in selected_school_programs %}
                                <div class="program-desc-div" id="{{ program.code }}_div"
                                     style="display: none;">
                                    <div class="card-subtitle"
                                         style="display: flex; flex-direction: column;">
                                        <h5 class="mb-1">{{ program.name }}</h5>
                                        <span class="mb-3">
                                             {% if program.number_of_seats %}
                                                 {{ program.number_of_seats }} seats
                                             {% else %}
                                                 Seat info unavailable
                                             {% endif %}
                                        </span>

                                    </div>
                                    <p class="mb-0">{{ program.description }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-outline-primary btn-block"
                        style="margin: 15% 12.5% 5% 12.5%; width: 75%; display: none;">More Info
                </button>
            </div>
        </div>
    {% else %}
        <div class="no-school-placeholder">
            <div style="font-size: 18px;">
                <span class="mb-3" style="font-size: 42px">
                    <i class="fa fa-school fa-5x"></i>
                </span>
            </div>
            <p class="mt-5" style="font-size: 18px;">
                Please select a high school to get a brief overview
            </p>
        </div>
    {% endif %}
{% endblock %}