{% block school_list %}
    {% load hs_filters %}
    <div style="height: 90%; margin-bottom: 5%;">
        <div class="list-group">
            <div class="util-div" style="display: flex; flex-direction: row; width: 100%;">
                <div class="high-school-search">
                    <form id="search_filter_form" name="search_filter_form" method='GET'>
                        <div class="search-div">
                        <span>
                            <input class="search-input" type='text' name='query'
                                   {% if request.GET.query %}value="{{ request.GET.query }}"
                                   {% endif %} placeholder="Search for your school">
                            <span onclick="search_filter_form.submit();" class="search-btn">
                                <i class="fa fa-search mr-2"></i>
                            </span>
                        </span>
                        </div>
                        <div class="high-school-filter-div">
                            <p class="mb-1">Filter using boroughs</p>
                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="loc_bx" name="loc_bx"
                                           {% if request.GET.loc_bx %}checked=""{% endif %}
                                           onchange="search_filter_form.submit();">
                                    <label class="custom-control-label"
                                           for="loc_bx">Bronx</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="loc_bk" name="loc_bk"
                                           {% if request.GET.loc_bk %}checked=""{% endif %}
                                           onchange="search_filter_form.submit();">
                                    <label class="custom-control-label"
                                           for="loc_bk">Brooklyn</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="loc_mn" name="loc_mn"
                                           {% if request.GET.loc_mn %}checked=""{% endif %}
                                           onchange="search_filter_form.submit();">
                                    <label class="custom-control-label"
                                           for="loc_mn">Manhattan</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="loc_qn" name="loc_qn"
                                           {% if request.GET.loc_qn %}checked=""{% endif %}
                                           onchange="search_filter_form.submit();">
                                    <label class="custom-control-label"
                                           for="loc_qn">Queens</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input"
                                           id="loc_si" name="loc_si"
                                           {% if request.GET.loc_si %}checked=""{% endif %}
                                           onchange="search_filter_form.submit();">
                                    <label class="custom-control-label"
                                           for="loc_si">Staten Island</label>
                                </div>
                            </div>
                        </div>
                        <div class="high-school-fav-div {% if not request.GET.is_fav_on or request.GET.is_fav_on == "0" %} hide-fav {% endif %}">
                            <span>These are your favorite schools...</span>
                        </div>
                    </form>
                </div>
                <div class="high-school-filters">
                    <span class="filter-btn"><i class="fa fa-filter"></i></span>
                    <form id="fav_form" name="fav_form" method="GET">
                        <input name="is_fav_on" type="hidden"
                                {% if not request.GET.is_fav_on or request.GET.is_fav_on == "0" %}
                               value="1"
                               {% else %}value="0"{% endif %}>
                        <span class="fav-btn" onclick="fav_form.submit()"><i
                                {% if request.GET.is_fav_on and request.GET.is_fav_on == "1" %}
                                    class="fa fa-heart"{% else %}
                                    class="fa fa-heart-o" {% endif %}></i></span>
                    </form>
                </div>
            </div>
            {% for school in high_schools %}
                {% with request.get_full_path as querystring %}
                    {% if querystring|split_string_single:"?" %}
                        <a href="{% url 'dashboard:high_school:overview'  school.dbn %}?{{ querystring|split_string_single:"?" }}"
                           class="list-group-item list-group-item-action {% if selected_school and selected_school.dbn == school.dbn %}active{% endif %}">
                    {% else %}
                        <a href="{% url 'dashboard:high_school:overview'  school.dbn %}"
                           class="list-group-item list-group-item-action {% if selected_school and selected_school.dbn == school.dbn %}active{% endif %}">
                    {% endif %}
                {% endwith %}
            <div class="d-flex w-100 justify-content-between mb-2">
                <h4 class="mb-1" style="width: 75%">{{ school.school_name }}</h4>
                <div>
                <span class="school-fav-btn" dbn_value="{{ school.dbn }}"
                        {% if school in fav_schools %}
                      is_fav="1" {% else %} is_fav="0" {% endif %}
                      style="font-size: 18px; padding: 4px;">
                <i{% if school in fav_schools %} class="fa fa-heart"{% else %}
                                                 class="fa fa-heart-o" {% endif %}></i></span>
                </div>
            </div>
            {#TODO: change this to school.boro instead and map it to full name#}
            <div class="d-flex w-100 justify-content-between mb-2">
                <h5 class="mb-2">{{ school.neighborhood }}</h5>
                <small class="pt-1"
                       style="width: 25%; text-align: right; vertical-align: middle;display: none;">
                    <span style="font-size: 14px; padding: 4px;"><i
                            class="fa fa-clock-o"></i></span>
                    {{ school.start_time }} - {{ school.end_time }}
                </small>
            </div>
            <div class="d-flex w-100 justify-content-between">
                        <span style="font-size: 14px; padding: 4px;">
                            <i class="fa fa-graduation-cap mr-2"></i>
                            {% widthratio school.graduation_rate 1 100 %} %
                        </span>
                <h5 class="mb-0">{{ school.phone_number }}</h5>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="pagination-div">
        {% if is_paginated %}
            {% with request.get_full_path as querystring %}
                <ul class="pagination">
                </ul>
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}
