{% block school_overview %}
    {% if selected_school %}
        <div class="top-header" style="background: gray">
            <div class="right-pane-container">
                <h5 class="mb-3" style="font-size: 28px;">{{ selected_school.school_name }}</h5>
                <h5 class="mb-2">{{ selected_school.neighborhood }}
                    ({{ selected_school.boro }})</h5>
                <h6 class="mb-3">{{ selected_school.location|slice:":-23" }}</h6>
                <h6 class="mb-2">{{ selected_school.total_students }} students</h6>
                <h6 class="mb-3">
                    <span style="font-size: 14px; padding: 4px;">
                        <i class="fa fa-graduation-cap mr-2"></i>
                    </span>
                    {% widthratio selected_school.graduation_rate 1 100 %} %</h6>
                <div class="d-flex w-100 justify-content-between" style="font-size: 16px;">
                    <a href="https://www.{{ selected_school.website }}" target="_blank"
                       style="font-size: 16px;">Website</a>
                    <span style="width: 30%; text-align: right;
                    vertical-align: middle; font-size: 16px;">
                                    <i class="fa fa-clock-o"></i>
                         {{ selected_school.start_time }} - {{ selected_school.end_time }}</span>
                </div>
            </div>
        </div>
        <div class="content-div justify-content-between">
            <div style="margin: 5% 7.5%">
                <div>
                    {{ selected_school.overview_paragraph }}
                </div>
                <div style="display: flex; flex-direction: column; flex-flow: wrap;">
                    {% for program in selected_school_programs %}
                        <div class="card program-div" id="{{ program.code }}_container">

                            <a class="" style="text-decoration: none !important;"
                               data-toggle="collapse"
                               href="#{{ program.code }}_collapse" role="button"
                               aria-expanded="false"
                               aria-controls="{{ program.code }}_collapse">
                                <div class="card-header justify-content-between">
                                    <div class="card-header-left justify-content-between">
                                        <p class="mr-lg-5 mb-2"
                                           style="text-decoration: none !important;">{{ program.name }}</p>
                                        <span style="font-size: 14px;">{{ program.number_of_seats }} seats</span>
                                    </div>
                                    <div class="card-header-right" style="display: none">
                                        <p class="mb-2" style="font-size: 16px;"><i
                                                class="fa fa-chevron-up"></i></p>
                                        <span>{{ program.offer_rate }} %</span>
                                    </div>
                                </div>
                            </a>
                            <div class="collapse" id="{{ program.code }}_collapse">
                                <div class="card-body">
                                    {{ program.description }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="btn btn-lg btn-primary btn-block"
                        style="margin: 15% 12.5% 5% 12.5%; width: 75%">More Info
                </button>
            </div>
        </div>
    {% else %}
        <div class="no-school-placeholder">
            <div style="font-size: 18px;">
                <span class="mb-3" style="font-size: 42px">
                    <i class="fa fa-school fa-5x"></i>
                </span>
            </div>
            <p class="mt-5" style="font-size: 18px;">
                Please select a high school to get a brief overview
            </p>
        </div>
    {% endif %}
{% endblock %}