{% extends 'dashboard/index.html' %}
{% block app_apply %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'application/css/application.css' %}">

<div style="margin-left:20%;height: 90%; margin-bottom: 5%; width:50%;">
    <h2>High School Application Form</h2>
    <form action="{% url 'dashboard:application:new_application' %}" method="post" class="form-signup" style="padding-top: 10px;">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-label-group col-md-6"><label for={{ form.first_name.id_for_label }}>{{ form.first_name.label }}</label>
                {{ form.first_name }}
                {% if form.first_name.help_text %}
                <p class="help">{{ form.first_name.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="form-label-group col-md-6">
                <label for={{ form.last_name.id_for_label }}>{{ form.last_name.label }}</label>
                {{ form.last_name }}
                {% if form.last_name.help_text %}
                <p class="help">{{ form.last_name.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-group col-md-6">
                {{ form.email_address.errors }}
                <label for={{ form.email_address.id_for_label }}>{{ form.email_address.label }}</label>
                {{ form.email_address }}
                {% if form.email_address.errors %}
                {{ form.email_address.errors }}
                {% endif %}
            </div>
            <div class="form-label-group col-md-6">
                <label for={{ form.phoneNumber.id_for_label }}>{{ form.phoneNumber.label }}</label>
                {{ form.phoneNumber }}
                {% if form.phoneNumber.help_text %}
                <p class="help">{{ form.phoneNumber.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-group col-md-6">
                <label for={{ form.date_of_birth.id_for_label }}>{{ form.date_of_birth.label }}</label>
                {{ form.date_of_birth }}
                {% if form.date_of_birth.help_text %}
                <p class="help">{{ form.date_of_birth.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="col-auto my-1 col-md-6">
<!--                TODO : label does not get displayed-->
                <label class="mr-sm-2 sr-only" for={{ form.gender.id_for_label }}>{{ form.gender.label }}</label>
                {{ form.gender }}
                {% if form.gender.help_text %}
                <p class="help">{{ form.gender.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-group col-md-6">
                <label for={{ form.address.id_for_label }}>{{ form.address.label }}</label>
                {{ form.address }}
                {% if form.address.help_text %}
                <p class="help">{{ form.address.help_text|safe }}</p>
                {% endif %}
            </div>
            <div class="form-label-group col-md-6">
                <label for={{ form.gpa.id_for_label }}>{{ form.gpa.label }}</label>
                {{ form.gpa }}
                {% if form.gpa.errors %}
                {{ form.gpa.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-group col-md-6">
                <label for={{ form.parent_name.id_for_label }}>{{ form.parent_name.label }}</label>
                {{ form.parent_name }}
                {% if form.parent_name.errors %}
                {{ form.parent_name.errors }}
                {% endif %}
            </div>
            <div class="form-label-group col-md-6">
                <label for={{ form.parent_phoneNumber.id_for_label }}>{{ form.parent_phoneNumber.label }}</label>
                {{ form.parent_phoneNumber }}
                {% if form.parent_phoneNumber.errors %}
                {{ form.parent_phoneNumber.errors }}
                {% endif %}
            </div>
        </div>
        <div class="form-row">
            <div class="form-label-group col-md-6">
                <label for={{ form.school.id_for_label }}>{{ form.school.label }}</label>
                {{ form.school }}
            </div>
            <div class="form-label-group col-md-6">
                <label for={{ form.username.id_for_label }}>{{ form.program.label }}</label>
                {{ form.program }}
                {% if form.program.help_text %}
                <p class="help">{{ form.program.help_text|safe }}</p>
                {% endif %}
            </div>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save as Draft" name="draft" style="margin-top:10px;"/>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" name="submit"/>
    </form>
</div>
{% endblock %}