{% block app_overview %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'application/css/application.css' %}">

<div style="height: 90%; margin-bottom: 5%;">
    {% if selected_app %}
        <div class="top-header">
            <div class="right-pane-container">
                {% if not selected_app.is_draft %}
                    <h5 style="margin: 1em; text-align: center;">
                        <b>Application Form</b>
                    </h5>
                    <table class="table table-striped" style="border: 1px solid black; border-collapse:
                        inherit; width: 75%; margin: 0 auto 2em;">
                        <tbody>
                            {% for name, value in selected_app.get_fields %}
                                <tr>
                                    <th scope="row">{{name}}</th>
                                    <td>{{ value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h2>High School Application Form</h2>
                    <form action="{% url 'dashboard:application:draftExistingApplication' selected_app.pk %}"
                          prog-data-url="{% url 'dashboard:application:ajax_load_programs' %}" method="post"
                          class="form-signup" style="padding-top: 10px;">
                        {% csrf_token %}
                        <div class="rounded bg-secondary" style="height:35px;margin-bottom:10px;">
                            <h5 class="p-2">PERSONAL</h5>
                        </div>
                        <div class="form-row">
                            <div class="form-label-group col-md-6">
                                <label for={{ form.first_name.id_for_label }}>{{ form.first_name.label }}</label>
                                {{ form.first_name }}
                                {% if form.first_name.help_text %}
                                    <p class="help">{{ form.first_name.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="form-label-group col-md-6">
                                <label for={{ form.last_name.id_for_label }}>{{ form.last_name.label }}</label>
                                {{ form.last_name }}
                                {% if form.last_name.help_text %}
                                    <p class="help">{{ form.last_name.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label-group col-md-6">
                                <label for={{ form.email_address.id_for_label }}>{{ form.email_address.label }}</label>
                                {{ form.email_address }}
                                {% if form.email_address.errors %}
                                    {{ form.email_address.errors }}
                                {% endif %}
                            </div>
                            <div class="form-label-group col-md-6">
                                <label for={{ form.phoneNumber.id_for_label }}>{{ form.phoneNumber.label }}</label>
                                {{ form.phoneNumber }}
                                {% if form.phoneNumber.help_text %}
                                    <p class="help">{{ form.phoneNumber.help_text|safe }}</p>
                                {% endif %}
                                {% if form.phoneNumber.errors %}
                                    {{ form.phoneNumber.errors }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label-group col-md-6">
                                <label for={{ form.date_of_birth.id_for_label }}>{{ form.date_of_birth.label }}</label>
                                {{ form.date_of_birth }}
                                {% if form.date_of_birth.help_text %}
                                    <p class="help">{{ form.date_of_birth.help_text|safe }}</p>
                                {% endif %}
                            </div>
                            <div class="form-label-group col-md-6">
                                <label for={{ form.gender.id_for_label }}>{{ form.gender.label }}</label>
                                {{ form.gender }}
                                {% if form.gender.help_text %}
                                    <p class="help">{{ form.gender.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label-group col-md-12">
                                <label for={{ form.address.id_for_label }}>{{ form.address.label }}</label>
                                {{ form.address }}
                                {% if form.address.help_text %}
                                    <p class="help">{{ form.address.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label-group col-md-6">
                                <label for={{ form.parent_name.id_for_label }}>{{ form.parent_name.label }}</label>
                                {{ form.parent_name }}
                                {% if form.parent_name.errors %}
                                    {{ form.parent_name.errors }}
                                {% endif %}
                            </div>
                            <div class="form-label-group col-md-6">
                                <label for={{ form.parent_phoneNumber.id_for_label }}>{{ form.parent_phoneNumber.label }}</label>
                                {{ form.parent_phoneNumber }}
                                {% if form.parent_phoneNumber.errors %}
                                    {{ form.parent_phoneNumber.errors }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="rounded bg-secondary" style="height:35px;margin-bottom:10px;margin-top:15px;">
                            <h5 class="p-2">EDUCATIONAL</h5>
                        </div>
                        <div class="form-row">
                            <div class="form-label-group col-md-6">
                                <label for={{ form.gpa.id_for_label }}>{{ form.gpa.label }}</label>
                                {{ form.gpa }}
                                {% if form.gpa.errors %}
                                    {{ form.gpa.errors }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="rounded bg-secondary" style="height:35px;margin-bottom:10px;margin-top:15px;">
                            <h5 class="p-2">SELECTED SCHOOLS AND PROGRAMS</h5>
                        </div>
                        <div class="form-row">
                            <div class="form-label-group col-md-6">
                                <label for={{ form.school.id_for_label }}>{{ form.school.label }}</label>
                                {{ form.school }}
                            </div>
                            <div class="form-label-group col-md-6">
                                <label for={{ form.program.id_for_label }}>{{ form.program.label }}</label>
                                {{ form.program }}
                            </div>
                        </div>
                        <div class="form-row" style="margin-top:50px;">
                            <div class="form-label-group col-md-6">
                                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save as Draft"
                                    name="draft"/>
                            </div>
                            <div class="form-label-group col-md-6">
                                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" name="submit"/>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="no-app-placeholder">
            <div style="font-size: 18px;">
                <span class="mb-3" style="font-size: 42px">
                    <i class="fa-5x far fa-file-alt"></i>
                </span>
            </div>
                <p class="mt-5" style="font-size: 18px;">
                    Please select an application to get a brief overview
                </p>
        </div>
    {% endif %}
</div>

{% endblock %}