{% block app_overview %}
    {% if selected_app %}
        <div class="top-header">
            <div class="right-pane-container">
                {% if not selected_ap.is_draft %}
                    {% for name, value in selected_ap.get_fields %}
                <h5 class="mb-3">{{name}} -> {{ value }}</h5>
                {% endfor %}

        </div>
        <div style="margin: 7.5%" class="justify-content-between">
            {{ selected_ap.overview_paragraph }}
        </div>
            {% else %}
            <form action="{% url 'application:draftExistingApplication' user_id selected_ap.pk %}" method="post" class="form-signup" style="padding-top: 100px;">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-label-group col-md-6">
                        {{ form.first_name }}
                        <label for={{ form.first_name.id_for_label }}>{{ form.first_name.label }}</label>
                        {% if form.first_name.help_text %}
                        <p class="help">{{ form.first_name.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    <div class="form-label-group col-md-6">
                        {{ form.last_name }}
                        <label for={{ form.last_name.id_for_label }}>{{ form.last_name.label }}</label>
                        {% if form.last_name.help_text %}
                        <p class="help">{{ form.last_name.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-label-group col-md-6">
                        {{ form.email_address.errors }}
                        {{ form.email_address }}
                        <label for={{ form.email_address.id_for_label }}>{{ form.email_address.label }}</label>
                        {% if form.email_address.errors %}
                        {{ form.email_address.errors }}
                        {% endif %}
                    </div>
                    <div class="form-label-group col-md-6">
                        {{ form.phoneNumber }}
                        <label for={{ form.phoneNumber.id_for_label }}>{{ form.phoneNumber.label }}</label>
                        {% if form.phoneNumber.help_text %}
                        <p class="help">{{ form.phoneNumber.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
                    <div class="form-row">
                        <div class="form-label-group col-md-6">
                            {{ form.date_of_birth }}
                            <label for={{ form.date_of_birth.id_for_label }}>{{ form.date_of_birth.label }}</label>
                            {% if form.date_of_birth.help_text %}
                            <p class="help">{{ form.date_of_birth.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="col-auto my-1 col-md-6">
                            {{ form.gender }}
                            <label class="mr-sm-2 sr-only" for={{ form.gender.id_for_label }}>{{ form.gender.label }}</label>
                            {% if form.gender.help_text %}
                            <p class="help">{{ form.gender.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-label-group col-md-6">
                            {{ form.address }}
                            <label for={{ form.address.id_for_label }}>{{ form.address.label }}</label>
                            {% if form.address.help_text %}
                            <p class="help">{{ form.address.help_text|safe }}</p>
                            {% endif %}
                        </div>
                        <div class="form-label-group col-md-6">
                            {{ form.gpa }}
                            <label for={{ form.gpa.id_for_label }}>{{ form.gpa.label }}</label>
                            {% if form.gpa.errors %}
                                {{ form.gpa.errors }}
                            {% endif %}
                        </div>
                    </div>
                <div class="form-row">
                    <div class="form-label-group col-md-6">
                        {{ form.parent_name }}
                        <label for={{ form.parent_name.id_for_label }}>{{ form.parent_name.label }}</label>
                        {% if form.parent_name.errors %}
                            {{ form.parent_name.errors }}
                        {% endif %}
                    </div>
                    <div class="form-label-group col-md-6">
                        {{ form.parent_phoneNumber }}
                        <label for={{ form.parent_phoneNumber.id_for_label }}>{{ form.parent_phoneNumber.label }}</label>
                        {% if form.parent_phoneNumber.errors %}
                            {{ form.parent_phoneNumber.errors }}
                        {% endif %}
                    </div>
                </div>
                 <div class="form-row">
                    <div class="form-label-group col-md-6">
                        {{ form.school.errors }}
                        {{ form.school }}
                        <label for={{ form.school.id_for_label }}>{{ form.school.label }}</label>
                        {% if form.school.errors %}
                        {{ form.school.errors }}
                        {% endif %}
                    </div>
                    <div class="form-label-group col-md-6">
                        {{ form.program }}
                        <label for={{ form.username.id_for_label }}>{{ form.program.label }}</label>
                        {% if form.program.help_text %}
                        <p class="help">{{ form.program.help_text|safe }}</p>
                        {% endif %}
                    </div>
                </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save as Draft" name="draft"/>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" name="submit"/>
            </form>
                        {% endif %}

                        
    {% else %}
        <div class="no-app-placeholder">
            <div style="font-size: 18px;">
                <span class="mb-3" style="font-size: 42px">
                    <i class="fa-5x far fa-file-alt"></i>
                </span>
            </div>
            <p class="mt-5" style="font-size: 18px;">
                Please select an application to get a brief overview
            </p>
        </div>
    {% endif %}
{% endblock %}